{{#each crumb in breadCrumbs}}
  <li {{bind-attr class="crumb.isCurrent:current: :breadcrumb-trigger"}}>
    {{#if crumb.linkable}}
      {{#link-to crumb.path}}{{crumb.name}}{{/link-to}}
      {{#if crumb.siblings}}&#9660;{{/if}}
      {{crumby-dropdown siblings=crumb.siblings}}
    {{else}}
      {{crumb.name}}
    {{/if}}
  </li>
{{/each}}