<div class="col-xs-12 col-md-8 col-md-offset-2">
  <h1 class="text-center">Users Go Here</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>_id</th>
        <th>username</th>
        <th>email</th>
        <th>_acl</th>
        <th>_kmd</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user._acl}}</td>
        <td>{{user._kmd}}</td>
      </tr>
      {{#each rows}}
        <tr>
          <td colspan="5">&nbsp;</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>